@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <ul class="uk-list uk-text-center" style="margin-bottom: 0;">
        <li uk-icon="icon: user"></li>
        <li>@UserManager.GetUserName(User)</li>
    </ul>
    <ul class="uk-list uk-text-center" uk-drop="pos: bottom-justify">
        <li><a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Account</a></li>
        <li><a asp-area="Identity" asp-page="/Account/Logout" title="Logout">Logout</a></li>
    </ul>
    }
else
{
    <span uk-icon="icon: user"></span>
    <ul class="uk-list uk-text-center" uk-drop="pos: bottom-center">
        <li><a asp-area="Identity" asp-page="/Account/Register">Register</a></li>
        <li><a asp-area="Identity" asp-page="/Account/Login">Login</a></li>
    </ul>
}
